/*------- MAIN -------*/

body {
  font-family: "Comfortaa", "Helvetica Neue", sans-serif;
}

#container {
  margin: 1em auto;
  padding: 1em;
}

@media (min-width: 769px) {
  #container {
    border: 1px solid black;
    border-radius: 20px;
    margin: 1em;
  }
}

@media (min-width: 1024px) {
  #container {
    margin: 1em auto;
    max-width: 70%;
  }
}

p {
  margin: 0 auto 0.5em auto;
}

.left-offset {
  padding-left: 0.8em;
}

.right-offset {
  padding-right: 0.8em;
}

/*------- NAVBAR -------*/

nav.navbar {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.navbar p {
  margin: 0;
}

.app-title {
  padding-left: 0.5em;
}

@media screen and (max-width: 1023px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
  }

  .navbar-brand {
    min-width: 100%;
  }

  .navbar-menu {
    margin-left: auto;
    min-width: 30%;
    text-align: right;
  }
}

.app-tagline {
  display: none !important;
}

@media (min-width: 769px) {
  .app-tagline {
    display: flex !important;
  }
}

@media (min-width: 1024px) {
  .app-tagline {
    display: none !important;
  }
}

@media (min-width: 1216px) {
  .app-tagline {
    display: flex !important;
  }
}

/*------- FOOTER -------*/

div.app-footer {
  border-top: 1px solid black;
  margin-top: 1em;
  padding-top: 1em;
  width: 100%;

  display: inline-flex;
  justify-content: space-between;
}

/*------- CALCULATOR -------*/

#calculator {
  text-align: center;
  margin: 0 auto;
}

.calculator {
  padding: 0.5em;
}

.calculator input {
  width: 100px;
}

.calculator input::placeholder {
  color: grey;
  text-align: center;
}

.control-panel {
  border-radius: 5px;
  margin: 1em auto;
  max-width: 50%;
}

.field-label {
  margin: 0.5em auto 0 auto; /* overriding Bulma */
  text-align: center;
}

.field-label.is-normal {
  padding-top: 0; /* overriding Bulma */
}

@media (min-width: 768px) {
  #other-controls {
    max-width: 70%;
    margin: 0 auto;
  }

  .control-panel {
    max-width: 40%;
  }
}

@media (min-width: 1024px) {
  .control-panel {
    margin: 1em 0.5em;
  }

  .control-panel .field {
    display: flex;
    justify-content: space-around;
  }

  .control-panel .field-body {
    max-width: 50%;
  }

  .control-panel .label {
    text-align: center;
  }

  .control-panel .is-normal {
    padding-top: 0; /* overriding Bulma */
  }
}

@media (min-width: 1408px) {
  .control-panel {
    max-width: 25%;
    margin: 0 auto;
  }

  .columns {
    margin: 1em auto 1.5em auto;
  }
}

.control-focused {
  background-color: #00d1b2;
}

.control-unfocused {
  border: 1px solid lightgrey;
}

/*------- Hide HTML5 number input stepper -------*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"],
input[type="time"] {
  -moz-appearance: textfield;
}
