/*------- MAIN -------*/

body {
  font-family: "Comfortaa", "Helvetica Neue", sans-serif;
}

#container {
  border: 1px solid black;
  border-radius: 20px;
  margin: 1em 2em;
  padding: 1em;
}

/*------- NAVBAR -------*/

nav.navbar {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.navbar p {
  margin: 0;
}

.app-title {
  padding-left: 0.5em;
}

/*------- FOOTER -------*/

div.app-footer {
  border-top: 1px solid black;
  margin-top: 1em;
  padding-top: 1em;
}
